/temp
*.tmp
*.prod
*.new
*.dev
*.old
*.backup
*.debug
*.out
*.creds
*.log
*-raw.txt
*.mood
*.theme
*.spectro
*.waveform
*.pitch
*.users
*.processed
*.response
requestor.id
requestor.name
requestor.jpg
content.html
index-NG.html
log.txt
logtemp.txt
keywords.txt
remix.queue
ytModifyBroadcast.json
